@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

.title h1 {
    font-size: 46px;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.title p {
    font-size: 46px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}

.title p::after {
    content: "";
    border-bottom: 4px solid black;
    /* border-radius: 4px; */
    border-radius: 0 0 85% 85% / 50%;
    width: 400px;
    display: block;
    margin: 0px auto;
    padding-top: 6px;
}


.clock {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clock div {
    display: flex;
}

.clock p {
    display: flex;
    background: yellow;
    margin: 30px 1rem 5px;
    height: 50px;
    width: 150px;
    font-size: 30px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.clock small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .clock div {
        display: flex;
        margin: 0;
    }

    .middle {
        flex-direction: column;
    }

    .title {
        display: block;
        margin: 0 30px;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 740px) {

    .clock div {
        display: block;
    }

    .title p {
        font-size: 34px;
    }

    .title h1 {
        font-size: 36px;
    }

    .title {
        display: block;
        margin: 0 30px;
        text-align: center;
    }

}


@media screen and (max-width: 600px) {
    .middle {
        flex-direction: column;
    }

    .title {
        margin: 0 30px;
        text-align: center;
    }

    .title p {
        font-size: 34px;
    }

    .title h1 {
        font-size: 36px;
    }

    .clock p {
        margin: 0 15px;
    }

    .clock div {
        display: block;
    }

    .title p::after {
        width: 300px;
    }
}