.mainContainer {
    margin-bottom: 1000px;
}

.quizContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.startBtnDisabled {
    display: none;
}


.startBtn button {
    padding: 8px 16px;
    border-radius: 5px;
    height: 50px;
    background-color: yellow;
    cursor: pointer;
    font-size: 22px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.infoBox {
    display: none;
}

.infoBoxActive {
    display: block;
    border-radius: 4px;
    background-color: yellow;
    padding: 20px 40px;
    font-size: 13px;
    width: 500px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.infoList {
    margin: 10px 0px;
    border-bottom: 1px solid black;
}

.infoList div {
    padding-bottom: 15px;
}

.infoTitle {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.infoTitle span {
    font-size: 22px;
    text-transform: uppercase;
}

.information {
    font-size: 20px;
}

.information span {
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons .quitBtn {
    padding: 4px 10px;
    width: 70px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid black;
    color: black;
    font-size: 20px;
}

.buttons .startBtn {
    padding: 4px 10px;
    width: 90px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

.quizBox {
    display: none;
}

.quizBoxActive {
    display: block;
    border-radius: 4px;
    background-color: yellow;
    padding: 20px 40px;
    width: 500px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    backdrop-filter: blur(8px);
}

.endContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.endContainer .crown {
    font-size: 80px;
}

.completed {
    padding: 0px 0px 20px;
    font-size: 22px;
}

.scoreContainer {
    font-size: 22px;
    padding: 20px 0px;
}

.resetButtons {
    display: flex;
    gap: 50px;
    padding: 10px 0px;
}

.resetButtons button {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.questionCount {
    padding: 0px 0px 10px;
    border-bottom: 1px solid black;
    font-size: 22px;
}

.question {
    display: flex;
    padding: 10px 0px;
    font-size: 20px;
}

.answerContainer {
    padding: 0px 0px 10px;
    list-style: none;
    border-bottom: 1px solid black;
}

.answerList button {
    border: 1px solid black;
    margin: 5px 0px 0px;
    border-radius: 20px;
    padding: 8px;
    font-size: 20px;
    outline: none;
    background-color: white;
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.answerList button:disabled {
    color: black;
}

.answerList button:disabled {
    color: black;
}


.nextContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 0px;
}

.nextContainer .nextBtn {
    padding: 4px 10px;
    width: 70px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid black;
    color: black;
}

.nextContainer .nextBtn:disabled {
    cursor: not-allowed;
}


.answerList .correct {
    background: green;
}

@media screen and (max-width: 600px) {
    .infoBoxActive {
        width: 340px;
    }

    .infoTitle span {
        font-size: 16px;
        text-transform: uppercase;
    }

    .information {
        font-size: 14px;
    }

    .information span {
        font-size: 16px;
    }

    .buttons .quitBtn {
        width: 50px;
        font-size: 12px;
    }

    .buttons .startBtn {
        width: 60px;
        font-size: 12px;
    }

    .quizBoxActive {
        width: 340px;
    }

    .questionCount {

        font-size: 18px;
    }

    .question {

        font-size: 16px;
    }

    .answerList button {
        font-size: 12px;
        width: 100%;
        height: 30px;
    }

    .nextContainer .nextBtn {
        font-size: 12px;
        width: 50px;
    }

    .resetButtons button {
        font-size: 10px;
    }

    .endContainer .crown {
        font-size: 80px;
    }

    .completed {
        padding: 0px 0px 20px;
        font-size: 18px;
    }

    .scoreContainer {
        font-size: 18px;
        padding: 20px 40px;
    }
}