#info {
    margin: 10px 50px 50px;
}

#info h2 {
    margin: 0px 20px;
    padding: 10px 0px;
    font-size: 30px;
}


#info h2::after {
    content: "";
    border-bottom: 1px solid black;
    width: 1400px;
    display: block;
    padding-top: 8px;
    margin: 0px auto;
}

.text {
    font-size: 18px;
}


.text p {
    padding-top: 14px;
    padding-left: 20px;
    line-height: 25px;
}

.populacija h3 {
    margin: 0px 20px;
    padding: 20px 0px 10px;
    font-size: 30px;
}

.populacija h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 900px;
    display: block;
    padding-top: 8px;
}

.populacija p {
    padding-top: 14px;
    margin: 0px 20px;
    font-size: 18px;
}

.populacija img {
    padding: 14px 20px;
    width: 800px;
}

.object h3 {
    margin: 0px 20px;
    padding: 10px 0px;
    font-size: 30px;
}

.object h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 900px;
    display: block;
    padding-top: 8px;
}

.slike {
    display: flex;
    margin: 5px 20px 5px;
    padding: 5px;
    border: 1px solid black;
    float: left;
}

.slika1 {
    display: flex;
    flex-direction: column;
}

.slika1 span {
    padding: 5px 0px 0px;
}

.slika1 img {
    width: 150px;
    height: 150px;
}

.slika2 {
    display: flex;
    flex-direction: column;
}

.slika2 span {
    padding: 5px 0px 0px;
}

.slika2 img {
    width: 150px;
    height: 150px;
}

.church {
    padding: 10px 0px;
}

.church h4 {
    font-size: 20px;
    padding-bottom: 5px;
}

.church p {
    font-size: 18px;
    line-height: 25px;
}

.groblje {
    padding: 10px 0px;
}

.groblje h4 {
    font-size: 20px;
    padding: 5px 0px 10px 20px;
}

.groblje p {
    font-size: 18px;
    line-height: 25px;
    padding: 5px 0px 10px 20px;
}

.udruga h3 {
    margin: 0px 20px;
    padding: 10px 0px;
    font-size: 30px;
}

.udruga h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 900px;
    display: block;
    padding-top: 8px;
}

.grb {
    display: flex;
    flex-direction: column;
    margin: 5px 20px 5px;
    padding: 5px;
    border: 1px solid black;
    float: left;
}

.grb span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px;
}

.podatci p {
    padding: 14px 0px 0px 20px;
    line-height: 25px;
    font-size: 18px;
}

.himna {
    display: flex;
    flex-direction: column;

    margin: 10px 20px;
}

.himna iframe {
    height: 315px;
    width: 450px;
}

.himna span {
    font-size: 18px;
    padding-bottom: 14px;
}

/* ASSIDE */
.asside {
    float: right;
    margin: 10px 20px 0px;
    border: 2px solid black;
}

.heading h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    margin: 5px 5px 8px;
    padding: 5px;
}

.heading .image {
    display: flex;
    flex-direction: column;
    margin: 0px 3px 5px;
    border: 1px solid black;
}

.image img {
    margin: 5px 5px 8px;
    padding: 5px;
    border: 1px solid black;
}

.image span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 5px;
}

.data {
    margin: 5px 5px 8px;
}

.data th {
    display: inline-flex;
    justify-content: flex-start;
}

.data td {
    padding-left: 100px;
}

.data img {
    max-width: 25px;
    min-width: 10px;
    margin-right: 10px;
}

.population {
    margin: 5px 5px 8px;
}


.population .year {
    display: flex;
    gap: 50px;
}

.population h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0px 0px 5px;
}

.population th {
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 130px;
}

.population td {
    padding-left: 70px;
}

.year {
    padding: 10px 0px;
}

.year h5 {
    font-size: 16px;
}


.image2 {
    display: flex;
    flex-direction: column;
    margin: 0px 3px 5px;
    border: 1px solid black;
}

.image2 img {
    margin: 5px 5px 8px;
    padding: 5px;
    border: 1px solid black;
}

.image2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 5px;
}

.image3 {
    margin: 0px 3px 5px;
}

.image3 img {
    margin: 5px 5px 8px;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    #info h2::after {
        width: 92vw;
    }

    .populacija h3::after {
        width: 32vw;
    }

    .object h3::after {
        width: 92vw;
    }

    .udruga h3::after {
        width: 92vw;
    }
}

@media only screen and (max-width: 600px) {
    #info {
        margin: 0px auto;
    }

    #info h2::after {
        width: 85vw;
    }

    .populacija h3::after {
        width: 85vw;
    }

    .object h3::after {
        width: 85vw;
    }

    .udruga h3::after {
        width: 85vw;
    }

    .populacija img {
        width: 85vw;
    }

    .text {
        padding-right: 14px;
    }

    .podatci {
        padding-right: 14px;
    }

    .church h4 {
        padding-top: 140px;
    }

    .church p {
        padding: 5px 8px 0px 14px;
    }

    .slike {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .groblje p {
        padding-right: 14px;
    }

    .groblje h4 {
        padding-left: 14px;
    }

    .church h4 {
        padding-left: 14px;
    }


    .image2 span {
        padding: 0px 8px 5px;
    }

    .asside {
        margin: 10px 20px 10px;
    }

    .himna iframe {
        width: 85vw;
    }

    .asside {
        float: none;
        margin: 0px auto;
        width: 90vw;
    }

    .image3 {
        margin: 0px auto;
    }

    .image3 img {
        width: 87vw;
    }
}