.brzinske {
    margin-bottom: 100px;

}

.hidden {
    cursor: pointer;
    margin-right: 10px;
}

.innearHeader {
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.innearHeader img {
    width: 100%;
    height: 440px;
}

.innearHeader h1 {
    position: absolute;
    top: 6em;
    left: 8em;
    color: white;
    font-size: 46px;
}

/* brzinske video */
.naslovv {
    font-size: 14px;
    padding: 10px 50px;
}

.brzinske22 .naslovv {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brzinske22 .text {
    margin: 0px 50px 10px;
    font-size: 12px;
    line-height: 1.5;
    transition: .3s all ease;
}

.brzinske22 .video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brzinske22 video {
    margin: 10px 0px;
    width: 700px;
    height: 60vh;
}

.brzinske22 h2 {
    font-weight: 500;
}

@media screen and (max-width: 980px) {
    .innearHeader img {
        height: 380px;
    }

    .innearHeader h1 {
        position: absolute;
        top: 9em;
        left: 9em;
        color: white;
        font-size: 34px;
    }
}

@media screen and (max-width: 768px) {
    .innearHeader img {
        height: 360px;
    }

    .innearHeader h1 {
        position: absolute;
        top: 10em;
        left: 8em;
        color: white;
        font-size: 24px;
    }

    .naslovv {
        font-size: 12px;
        padding: 10px 30px;
    }

    .brzinske22 .text {
        margin: 0px 15px;
    }

    .brzinske22 video {
        margin: 0;
        width: 450px;
        height: 60vh;
    }

    .video p {
        font-size: 14px;
    }
}


@media screen and (max-width: 600px) {
    .innearHeader img {
        height: 260px;
    }

    .innearHeader h1 {
        position: absolute;
        top: 6em;
        left: 1em;
        color: white;
        font-size: 24px;
    }

    .naslovv {
        font-size: 12px;
        padding: 10px 20px;
    }

    .brzinske22 .text {
        margin: 0px auto;
    }

    .brzinske22 video {
        margin: 0;
        width: 250px;
        height: 40vh;
    }

    .video p {
        font-size: 14px;
    }
}