.infoContainer {
    margin: 10px 50px 0px;
}

.infoContainer h2 {
    margin: 0px 20px;
    padding: 10px 0px;
    font-size: 30px;
}


.infoContainer h2::after {
    content: "";
    border-bottom: 1px solid black;
    width: 1400px;
    display: block;
    padding-top: 8px;
    margin: 0px auto;
}

.desc {
    font-size: 18px;
}


.desc p {
    padding-top: 14px;
    padding-left: 20px;
    line-height: 25px;
}

.populationDesc h3 {
    margin: 0px 20px;
    padding: 20px 0px 10px;
    font-size: 30px;
}

.populationDesc h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 900px;
    display: block;
    padding-top: 8px;
}

.populationDesc p {
    padding-top: 14px;
    margin: 0px 20px;
    font-size: 18px;
}

.populationDesc img {
    padding: 14px 20px;
    width: 800px;
}

.object h3 {
    margin: 0px 20px;
    padding: 10px 0px;
    font-size: 30px;
}

.object h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 900px;
    display: block;
    padding-top: 8px;
}

.objectImage {
    display: flex;
    margin: 5px 20px 5px;
    padding: 5px;
    border: 1px solid black;
    float: left;
}

.objectImage1 {
    display: flex;
    flex-direction: column;
}

.objectImage1 span {
    padding: 5px 0px 0px;
}

.objectImage1 img {
    width: 150px;
    height: 150px;
}

.objectImage2 {
    display: flex;
    flex-direction: column;
}

.objectImage2 span {
    padding: 5px 0px 0px;
}

.objectImage2 img {
    width: 150px;
    height: 150px;
}

.church {
    padding: 10px 0px;
}

.church h4 {
    font-size: 20px;
    padding: 5px 0px 10px 20px;
}

.church p {
    font-size: 18px;
    line-height: 25px;
    padding: 5px 0px 10px 20px;
}

.cemetery {
    padding: 10px 0px;
}

.cemetery h4 {
    font-size: 20px;
    padding: 5px 0px 10px 20px;
}

.cemetery p {
    font-size: 18px;
    line-height: 25px;
    padding: 5px 0px 10px 20px;
}

.association h3 {
    margin: 0px 20px;
    padding: 10px 0px;
    font-size: 30px;
}


.association h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 900px;
    display: block;
    padding-top: 8px;
}

.associationImage {
    display: flex;
    flex-direction: column;
    margin: 5px 20px 5px;
    padding: 5px;
    border: 1px solid black;
    float: left;
}

.associationImage span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px;
}

.associationDesc p {
    padding: 14px 0px 0px 20px;
    line-height: 25px;
    font-size: 18px;
}

.anthem {
    display: flex;
    flex-direction: column;

    margin: 10px 20px;
}

.anthem iframe {
    height: 315px;
    width: 450px;
    margin-bottom: 100px;
}

.anthem span {
    font-size: 18px;
    padding-bottom: 14px;
}

/* ASSIDE */
.assideContainer {
    float: right;
    margin: 10px 20px 0px;
    border: 2px solid black;
}

.heading h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    margin: 5px 5px 8px;
    padding: 5px;
}

.heading .image {
    display: flex;
    flex-direction: column;
    margin: 0px 3px 5px;
    border: 1px solid black;
}

.image img {
    margin: 5px 5px 8px;
    padding: 5px;
    border: 1px solid black;
}

.image span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 5px;
}

.data {
    margin: 5px 5px 8px;
}

.data th {
    display: inline-flex;
    justify-content: flex-start;
}

.data td {
    padding-left: 100px;
}

.data img {
    max-width: 25px;
    min-width: 10px;
    margin-right: 10px;
}

.population {
    margin: 5px 5px 8px;
}


.population .year {
    display: flex;
    gap: 50px;
}

.population h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0px 0px 5px;
}

.population th {
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 130px;
}

.population td {
    padding-left: 70px;
}

.year {
    padding: 10px 0px;
}

.year h5 {
    font-size: 16px;
}


.image2 {
    display: flex;
    flex-direction: column;
    margin: 0px 3px 5px;
    border: 1px solid black;
}

.image2 img {
    margin: 5px 5px 8px;
    padding: 5px;
    border: 1px solid black;
}

.image2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 5px;
}

.image3 {
    margin: 0px 3px 5px;
}

.image3 img {
    margin: 5px 5px 8px;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .infoContainer h2::after {
        width: 92vw;
    }

    .populationDesc h3::after {
        width: 32vw;
    }

    .object h3::after {
        width: 92vw;
    }

    .association h3::after {
        width: 92vw;
    }
}

@media only screen and (max-width: 600px) {
    .infoContainer {
        margin: 0px auto;
    }

    .infoContainer h2::after {
        width: 85vw;
    }

    .populationDesc h3::after {
        width: 85vw;
    }

    .object h3::after {
        width: 85vw;
    }

    .association h3::after {
        width: 85vw;
    }

    .populationDesc img {
        width: 85vw;
    }

    .desc {
        padding-right: 14px;
    }

    .associationDesc {
        padding-right: 14px;
    }

    .church h4 {
        padding-left: 14px;
        margin-top: 10px;
    }

    .slike {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cemetery h4 {
        padding-left: 14px;
    }

    .church h4 {
        padding-left: 14px;
    }


    .image2 span {
        padding: 0px 8px 5px;
    }

    .assideContainer {
        margin: 10px 20px 10px;
    }

    .anthem iframe {
        width: 85vw;
    }

    .assideContainer {
        float: none;
        margin: 0px auto;
        width: 90vw;
    }

    .image3 {
        margin: 0px auto;
    }

    .image3 img {
        width: 87vw;
    }
}