.infoContainer {
    margin: 20px 50px 0px;
}

.infoContainer h2 {
    margin: 0px 20px;
    padding: 10px 0px;
}

.infoContainer h2::after {
    content: "";
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    padding-top: 8px;
    margin: 0px auto;
}

.assideContainer {
    float: right;
    margin: 10px 20px 0px;
    border: 2px solid black;
}

.heading h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    margin: 5px;
    padding: 5px;
}

.imageLocation {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 1px solid black;
}

.imageLocation img {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.imageLocation span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 5px;
}

.dataContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.dataContainer tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.dataContainer tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

.dataContainer img {
    max-width: 25px;
    min-width: 10px;
    margin-right: 10px;
}

.populationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.populationContainer tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.populationContainer tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

.year {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.imageCounty {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 1px solid black;
}

.imageCounty img {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.imageCounty span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 5px;
}

.imageLocal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.imageLocal img {
    width: 90%;
}

.descriptionContainer {
    font-size: 18px;
    padding: 10px 20px;
}

.descriptionContainer p {
    line-height: 30px;
}

.populationDescription h3 {
    margin: 0px 20px;
    font-size: 30px;
}

.populationDescription h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 65%;
    display: block;
    padding-top: 8px;
}

.populationDescription p {
    padding: 10px 20px;
    margin: 0;
    font-size: 18px;
}

.populationDescription img {
    padding: 10px 0;
    width: 50%;
}

.objectContainer h3 {
    margin: 0px 20px;
    padding: 10px 0px;
    font-size: 30px;
}

.objectContainer h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 65%;
    display: block;
    padding-top: 8px;
}

.objectImage {
    display: flex;
    margin: 5px 20px 5px;
    padding: 5px;
    border: 1px solid black;
    float: left;
}

.churchImage {
    display: flex;
    flex-direction: column;
}

.churchImage span {
    padding: 5px 0px 0px;
}

.churchImage img {
    width: 150px;
    height: 150px;
}

.chapelImage {
    display: flex;
    flex-direction: column;
}

.chapelImage span {
    padding: 5px 0px 0px;
}

.chapelImage img {
    width: 150px;
    height: 150px;
}

.churchContainer {
    padding: 5px 0;
}

.churchContainer h4 {
    font-size: 20px;
}

.churchContainer p {
    font-size: 18px;
    line-height: 30px;
    padding: 0px 20px;
}

.chapelContainer {
    padding: 5px 0px;
}

.chapelContainer h4 {
    font-size: 20px;
}

.chapelContainer p {
    font-size: 18px;
    line-height: 30px;
    padding: 0px 20px;
}

.associationContainer {
    padding: 10px 20px;
}

.associationContainer h3 {
    font-size: 30px;
    padding-bottom: 10px;
}


.associationContainer h3::after {
    content: "";
    border-bottom: 1px solid black;
    width: 65%;
    display: block;
    padding-top: 8px;
}

.logoImage {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-right: 20px;
    border: 1px solid black;
    float: left;
}

.logoImage span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px;
}

.associationDescription p {
    line-height: 30px;
    font-size: 18px;
}

.anthemContainer {
    display: flex;
    flex-direction: column;
}

.anthemContainer iframe {
    height: 315px;
    width: 450px;
    margin-bottom: 100px;
}

.anthemContainer span {
    font-size: 18px;
    padding-bottom: 14px;
}

@media screen and (max-width: 1500px) {
    .populationDescription h3::after {
        width: 55%;
    }

    .objectContainer h3::after {
        width: 55%;
    }

    .associationContainer h3::after {
        width: 55%;
    }
}

@media screen and (max-width: 1200px) {
    .populationDescription h3::after {
        width: 50%;
    }

    .objectContainer h3::after {
        width: 50%;
    }

    .associationContainer h3::after {
        width: 50%;
    }

    .populationDescription img {
        width: 40%;
    }

    .churchContainer h4 {
        margin-left: 20px;
    }

    .chapelContainer h4 {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .infoContainer {
        margin: 20px auto;
    }

    .assideContainer {
        float: none;
    }

    .populationDescription h3::after {
        width: 100%;
    }

    .objectContainer h3::after {
        width: 100%;
    }

    .associationContainer h3::after {
        width: 100%;
    }

    .populationDescription img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .anthemContainer iframe {
        width: 350px;
    }
}