.mainContainer {
    padding: 3em;
}

.mainContainer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2em;
}

.emptyCartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.emptyCartContainer p {
    font-size: 18px;
}

.emptyCartContainer a {
    color: black;
    text-decoration: none;
}

.emptyCartContainer button {
    outline: none;
    border: none;
    background-color: yellow;
    padding: 16px 20px;
    margin: 10px 0;
}

.total {
    background-color: yellow;
    text-align: center;
    padding: 20px 0;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-radius: 16px;
}

.cartContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3em;
}

.shopContainer {
    padding: 20px;
    width: 100%;
}

.close svg {
    font-size: 20px;
    cursor: pointer;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 16px;
    box-shadow: 1px 1px 15px #ccc;
    padding: 20px;
}

.remove {
    color: gray;
    cursor: pointer;
}

.info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.info span {
    color: gray;
    font-size: 16px;
}

.estimatedTotal {
    display: flex;
    justify-content: flex-end;
    padding: 30px 20px 0;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.continueShopping button {
    width: 250px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    border-radius: 32px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    background-color: yellow;
}

.continueShopping a {
    color: black;
    text-decoration: none;
}

.checkoutButton button {
    width: 150px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    border-radius: 32px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    background-color: yellow;
}

.in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in img {
    width: 250px;
    height: 250px;
}

.in h5 {
    font-size: 1.4em;
    padding: 0;
}

.in div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity select {
    width: 70px;
    height: 30px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .mainContainer {
        padding: 1em;
    }

    .mainContainer h3 {
        padding-bottom: 0;
    }

    .in {
        align-items: center;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }

    .in div {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    .close svg {
        margin-bottom: 10em;
    }

    .emptyCartContainer {
        padding: 20px;
    }
}

@media screen and (max-width: 500px) {
    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}