.news h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
}

.links {
    text-decoration: none;
}

.news h2::after {
    content: "";
    border-bottom: 4px solid black;
    width: 80px;
    display: block;
    padding-top: 12px;
    margin: 0px auto;
}

.news article {
    padding: 0px 0px 10px;
    /* margin-top: 10px; */
    margin: 0px auto;
    width: 280px;
}

.news article:hover {
    background: rgb(204, 203, 203);
    border-radius: 6px;
}

article img {
    width: 280px;
    height: 200px;
    border-radius: 6px;
}

article h5 {
    font-size: 16px;
    padding: 12px 5px;
    color: black;
}

article span {
    font-size: 10px;
    padding: 12px 5px;
    color: black;
}

article p {
    font-size: 12px;
    padding: 12px 5px 0px;
    color: black;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 24px;
    margin: 0px 70px 70px;
    gap: 20px;
    row-gap: 20px;
}

/* artikal */

.novosti {
    margin: 30px 30px 200px;
}

.desno {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    align-items: center;
}

.maraton .okvir {
    border: 5px solid blue;
    margin-left: 20px;
    width: 250px;
    font-size: 14px;
    padding: 12px 40px;
}

.maraton .okvir2 {
    border: 5px solid blue;
    margin-left: 20px;
    width: 250px;
    font-size: 14px;
    padding: 12px 60px;
}

.maraton .godina {
    font-size: 18px;
    padding: 12px 60px;
}

.maraton .godinaa {
    margin-left: 10px;
    font-size: 18px;
    padding: 12px 60px;
}

.maraton .godina2 {
    font-size: 18px;
    padding: 12px 50px;
}

.maraton .infoo {
    padding: 12px 5px 30px;
    text-align: center;
    font-size: 12px;
}

.medalje img {
    width: 200px;
}

.textt img {
    width: 650px;
    height: 350px;
    border-radius: 6px;
}

.textt span {
    font-size: 12px;
}

.textt h2 {
    font-size: 28px;
    padding: 10px 0px 12px;
}

.paragraf {
    padding: 10px 0px;
    font-size: 12px;
}

.paragraf p {
    padding-top: 14px;
    line-height: 25px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    gap: 100px;
}

.buttons .next {
    padding: 2px 4px;
    background-color: blue;
    color: white;
    width: 40px;
    border: none;
    height: 25px;
    font-size: 12px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons .prev {
    padding: 2px 4px;
    background-color: blue;
    color: white;
    width: 40px;
    height: 25px;
    border: none;
    font-size: 12px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width:980px) {
    .articles {

        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    article img {
        width: 280px;
        height: 200px;
    }

    .news article {
        width: 280px;
    }

    .desno {
        display: none;
    }

    .textt img {
        width: 80vw;
        height: 50vw;
    }
}

@media screen and (max-width:870px) {
    .articles {

        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    article img {
        width: 280px;
        height: 200px;
    }

    .news article {
        width: 280px;
    }

    .desno {
        display: none;
    }

    .textt img {
        width: 80vw;
        height: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .articles {

        grid-template-columns: 1fr;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    article img {
        width: 280px;
        height: 200px;
    }

    .news article {
        width: 280px;
    }

    /* artikal */
    .desno {
        display: none;
    }

    .textt {
        margin: 0px auto;
    }

    .textt h2 {
        font-size: 16px;
    }

    .paragraf {
        font-size: 12px;
    }

    .textt img {
        width: 80vw;
        height: 50vw;
    }
}