.sliderContainer {
    width: 100%;
    height: 670px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.slide img {
    height: 670px;
}

.content {
    position: absolute;
    top: 8rem;
    left: 5rem;
    opacity: 0;
    font-size: 20px;
    width: 50%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    /* visibility: hidden; */
}

@keyframes slide-up {
    0% {
        visibility: visible;
        top: 8rem;

    }

    100% {
        visibility: visible;
        top: 6rem;
    }

}

.content>* {
    color: white;
    margin-bottom: 1rem;
}

.current {
    opacity: 1;
    transform: translateX(0);
}

.current .content {
    opacity: 1;
}

.arrow {
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 90%;
    cursor: pointer;
    z-index: 2;
}

.arrow:hover {
    background: #fff;
    color: #777;
}

.next {
    right: 1.5rem;
}

.prev {
    left: 1.5rem;
}

.primary {
    background-color: blue;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

hr {
    height: 2px;
    background: white;
    /* width: 50%; */
}

@media screen and (max-width: 1200px) {
    .slide img {
        width: 100%;
        height: 670px;
    }

    .slider {
        height: 670px;
    }

    .arrow {
        top: 80%;
    }
}

@media screen and (max-width: 900px) {
    .content {
        width: 50%;
        top: 1rem;
        left: 1rem;
        font-size: 10px;
        padding: 0.5rem;
        animation: none;
    }

    .slide img {
        width: 100%;
        height: 460px;
    }

    .slider {
        height: 570px;
    }

    .arrow {
        top: 40%;
    }
}


@media screen and (max-width: 600px) {
    .content {
        display: none;
    }

    .slider {
        height: 280px;
    }

    .slide img {
        height: 280px;
    }

    .arrow {
        top: 80%;
    }
}

@media screen and (min-width: 600px) {

    .slide img {
        width: 100%;
        height: 100%;
    }
}